<p id="notice"><%= notice %></p>

<h1>Ordered Books</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Order</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordered_books.each do |ordered_book| %>
      <tr>
        <td><%= ordered_book.book_id %></td>
        <td><%= ordered_book.order_id %></td>
        <td><%= ordered_book.quantity %></td>
        <td><%= link_to 'Show', ordered_book %></td>
        <td><%= link_to 'Edit', edit_ordered_book_path(ordered_book) %></td>
        <td><%= link_to 'Destroy', ordered_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordered Book', new_ordered_book_path %>
