<%= link_to "Clear cart", clear_cart_path, method: :delete %><br>


<% @books.each do |book| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="">
      <div class="caption">
          <%= link_to book.title, book %> <br/>
          <%= book.author %> <br/>
          <%= book.image %> <br/>
          RM <%= book.price %> <br/>
        </div>
        </div>
        </div>
<% end %>
