<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">

    <div class="col-md-3">
      <p class="lead">Categories</p>
      <div class="list-group">
        <% @categories.each do |category| %>
        <%= link_to category.genre, category_path(category), class: 'list-group-item' %><br />
        <% end %>
      </div>
    </div>


    <div class="col-md-9">
      <div class="row">
        <p>
          <h3 style = text-align:center><%= @category.genre %></h3>
        </p>
        <% @category.books.each do |book| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag book.image %><br/>
              <%= link_to book.title, book_path(book) %> <br/>
              <%= book.author %> <br/>
              <%= book.description %> <br/>
              <%= number_to_currency(book.price, unit: "RM ") %> <br/>
              <%= link_to 'Back', category_path, class:"btn btn-info btn-sm" %>
              <%= link_to 'Add To Cart', add_item_to_cart_path(book_id: book, quantity: 1), method: :patch, class:"btn btn-info btn-sm" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
